.html {
  height: 100%;
}

.body {
  min-height: 100%;
}

.body-style {
  background-color: #0B5135;
}

.body-font {
  font: 1em / 1.2 sans-serif;
}

.section-style {
  border: .1em solid darkgrey;
  background-color: lightgrey;
  margin: .2em;
  padding: .3em;
}

.a-style, .d-style {
  border-color: #422C14;
  background-color: #AA5900;
}

.b-style {
  border-color: #422214;
  background-color: #422214;
}

.c-style {
  border-color: #3F1319;
  background-color: #A20016;
}

/* Phone display */
@media (min-width: 600px) {
  .body {
    display: flex;
    flex-direction: column;
  }

  .a-container {
    flex-grow: 1;
  }

  .bc-container {
    display: flex;
    flex-direction: row;
    flex-grow: 4;
  }

  .b-container {
    flex-grow: 1;
  }

  .c-container {
    flex-grow: 2;
  }

  .d-container {
    flex-grow: 1;
  }
}
